h1{
    text-align: center;
    font-size: 100px;
    color: black;
}
body{
    background-image: url("fundodesite.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100px;
    height: 100px;
}
.fundosite {
    width: 100px;
    height: 100px;
 }